[submodule "3rdparty"]
	path = 3rdparty
	url = git://github.com/owncloud/3rdparty.git
[submodule "apps-git"]
	path = apps-git
	url = https://github.com/owncloud/apps.git
[submodule "apps-appframework"]
	path = apps-appframework/appframework
	url = https://github.com/owncloud/appframework.git
[submodule "apps-news"]
	path = apps-news/news
	url = https://github.com/owncloud/news.git
[submodule "apps-mozilla_sync"]
	path = apps-mozilla_sync/mozilla_sync
	url = https://github.com/owncloud/mozilla_sync.git
